<fieldset><legend>Terms: <%= link_to "EDIT" , edit_profile_path( :fieldset => "terms") %></legend>
   <p>
    <%= f.label "I Agree " %><!-- was a br -->
    <%= f.check_box :terms_agreed %>

  </p>
</fieldset>
