<h1>Editing workout</h1>

<% form_for(@workout) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "contents" , :locals => { :f =>  f } %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
