<% form_tag session_path do -%>
<p><span class ='left'><label for="login">Login</label></span>
<%= text_field_tag 'login' %>
</p>

<p><span class='left last'><label for="password">Password</label></span>
<%= password_field_tag 'password' %>
</p>

<!-- Uncomment this if you want this functionality 
<p><label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me' %></p>
uncommented on 6 July 08  -->

<p class='button last'><%= submit_tag 'Log in' %></p>
<% end -%>
