<div class="loginBox">
<div class="title"><h3>Welcome to YOUR Wellness Board</h3></div>
<br />
<%= render :partial => "contents" %>
<br />
<strong><span>
<%= link_to 'Register', signup_path %>
<span></strong> 
</div>
