<div class="longSummery left">
<table><tr>
<td colspan =2><center><img src="images/ltlong204.png"></center></td>
</tr>
<tr>
<td><img src="images/bp.jpg" width=200></td>
<td><img src="images/stress.jpg" width=200></td>
</tr>
<tr>
<td colspan = 2><center><img src="images/mr300.jpg"></center></td>


</tr>
</table>
</div>

<div class="loginBox right">
<div class="title"><h3>Welcome to YOUR Wellness Board</h3></div>
<br />
<%= render :partial => "contents" %>
<br />
<strong><span>
<%= link_to 'Register Here', signup_path %>
<span></strong> 
</div>
