<div class="loginBox">
<strong><span>Welcome to YOUR Wellness Board</span></strong>
<br />
<%= render :partial => "contents" %>
<br />
<strong><span>
<%= link_to 'Register', signup_path %>
<span></strong> 
</div>
