<% content_for :header do %>
  <h1>Welcome to Lifesthread's Wellnessboard.</h1>
   Please log in to your wellnessboard.
<% end %>




<%= render :partial => "contents" %>
<br />
<%= link_to 'Sign Up', signup_path %>
