<% content_for :header do %>
  <h1>Welcome to YOUR Wellness Board</h1>
<% end %>

<br /><br /><br /><br />
<br /><br /><br /><br />

<%= render :partial => "contents" %>
<br />
<%= link_to 'Sign Up for free!', signup_path %>
<br /><br /><br /><br />
<br /><br />
*Please note that the database will take a short time to process and develop<br /> your profile information for accurate presentation of your Wellness Board. 



