<% content_for :header do %>
  <h1>Welcome to YOUR Wellness Board</h1>
   Please log-in to your Wellness Board profile or sign-up now to create your Wellness Board profile
<% end %>




<%= render :partial => "contents" %>
<br />
<%= link_to 'Sign Up for free!', signup_path %>
<br /><br />

*Please note that the first time on your Wellness Board may be slow. Thank you for your patience. 



