<div class="longSummery">
<table><tr>
<td colspan =3><center><img src="images/ltlong204.png"></center></td>
</tr>
<tr>
<td><img src="images/bp.jpg" width=200></td>
<td>
<div class=""><center><h3>Welcome to YOUR Wellness Board</h3></center></div>
<br />
<%= render :partial => "contents" %>
<br />
<strong><span>

<span></strong> 

</td>

<td><img src="images/stress.jpg" width=200></td>
</tr>
<tr>
<td colspan = 3><center><img src="images/mr300.jpg"></center></td>


</tr>
</table>
</div>

