
a{
  display:inline;
  /* color: #981793;  */
  padding:1px
}

.title { background : #1FF ; margin : -1.1em 0 0 0; border-bottom : 1px  /* solid #000 */ ; }

h3.title { margin : 0 0 0 0; padding : 0 0 0 0; }

.left  { float : left ; }

.right, #login, #password { float : right ; width : 35% ; }


  
body {
  /* background: url(/images/lifesthread.jpg) no-repeat top left  ; */
  width : 900px;
  margin :  0 auto 0 auto;
 }  
 
  .last  { clear : both ;}
  
  /*  span { background-color : #1FF ; } */

  /* .button { position : relative ; left : 40%; } */
 
 
 .loginSummery { border : 0px ; }
 
 .loginBox {  
  border : 1px solid #000;
  margin : 4em; 0 0 0;
  /* margin :  15em 3em 0 500px;  */
  /* position : absolute;  left : 100%;  top : 40%; */
  }
  
/* body { 
      border : 1px solid gray;
      background :  #DCF1F4  ;  
      width : 950px;
      margin : 0 auto  0 auto;
      padding : 3px 3px 3px 3px; 
      font-family : sans-serif, Verdana;}
  */


body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   14px;
  line-height: 18px;
}

table {
  margin-left: auto;
  margin-right: auto;
  /* border-color: #600; */
  /* border: 1px solid;
  border-style: solid;
  border-collapse: collapse;
  font-size: 13px; */
}

th {
  /* border-color: #600; */
  border: 0px;
  border-style: none;
  margin: 0;
}

td {
  /* border-color: #600; */
  border: 0px;
  border-style: none;
  margin: 0;
}

/*
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}
*/

/*
a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }
*/


.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

