<% myTerms = '
Terms and Conditions

1.) Disclaimer

Your access to and use of the Web Site and Service(s) provided by Life"s Thread, Inc. and its affiliates (the "Company" or "Life"s Thread"), and any third party licensors, including any purchases for products and service(s) (the "Service(s)") sold via the Web Site, is exclusively governed by these Terms of Use. BY ACCESSING OR USING OUR WEB SITE AND/OR SERVICE(S), YOU ACCEPT AND AGREED TO BE BOUND BY THESE TERMS OF USE AS THE COMPANY MAY MODIFY THEM FROM TIME TO TIME. The data contained in our Web Site and/or Service(s) is for entertainment, educational and informational purposes only and is not represented to be error free. The Company attempts to ensure that the data provided or otherwise displayed on our Web Site and/or Service(s) is accurate. However, the Web Site and/or Service(s) and its contents are provided on an "as is, as available" basis. Use of the Web Site and/or Service(s) and its contents is at the user"s sole risk. The Company does not warrant that any functions of the Web Site and/or Service(s) will be uninterrupted or error-free, that defects will be corrected, or that the Web Site and/or Service(s) will be free from viruses or other harmful components. Any links to information not associated with the Company are provided as a courtesy and do not constitute an endorsement by the Company or its licensors as to any linked materials. If any provision of these Terms of Use or any application thereof is held to be invalid or unenforceable, that provision shall be deemed severable and the remainder of the Terms of Use shall not be affected.

2.) Modifications

The Company may at any time make modifications, changes and alterations to the data of our Web Site and Service(s), including the Terms of Use, without prior notice. You are responsible for regularly reviewing these Terms of Use. Your continued use of our Web Site and/or Service(s) following any modifications, changes or alterations shall constitute your acceptance of such modifications, changes or alterations.

3.) Intellectual Property Statement

All content of our Web Site and Service(s) is the copyrighted material of the Company or the appropriate contributor, and is protected by United States and international copyright, trademark and other applicable laws. The Web Site and Service(s) includes content, appearances and design, as well as trademarks, product names, graphics, logos, slogans, colors and designs that are the property of the Company or other third parties. Except as set forth in the relevant license agreements, nothing contained in our Web Site and/or Service(s) grants any license or other right to any the Company"s intellectual property or any third party"s intellectual property. The appropriate party reserves complete title and interest to its intellectual property on or associated with the Web Site and/or Service(s). You may not copy (other than a copy for personal use, provided you do not remove any trademark, copyright or any other notice contained in the content), modify, distribute, alter, display, reproduce, transfer or republish any of the data of our Web Site and/or Service(s) without obtaining the written permission of the Company.

4.) Applicable Law

This Web Site and Service(s) are created and controlled by the Company in the State of Nevada. As such, the laws of the State of Nevada will govern these Terms of Use without giving effect to any principles of conflicts of laws. The parties agree that a condition of using this Web Site and/or Service(s) is that any and all claims arising out of use of this Web Site and/or Service(s) will be tried in the State of Nevada and Nevada law will apply. The Nevada courts in Seminole County shall have exclusive jurisdiction and venue, and you consent and submit to the personal jurisdiction of such court over any claim, suit, or proceeding arising out of these Terms of Use.

5.) Communication

As part of the Web Site and/or Service(s) you agree to receive a series of ongoing communications regarding the Web Site and/or Service(s). Upon receipt of this communication you will have the option to opt-out or unsubscribe

6.) User Content

All Wellness Board personal health information is secure and not intended for individual distribution or sharing unless expressly requested in writing by the end user.

With regard to user-generated exchanges of information and inclusion of content on a user-to-user basis, any information and any content that you upload, exchange, share, store, send or otherwise make available through the Web Site or Service(s) ("User Content") is your responsibility and the Company assumes no liability or responsibility for such user generated information and content. This includes, but is not limited to, chat, blogs, email, email addresses and other personally identifying information, sms, text, photos, video, audio, charts and any other User Content that you may provide or make available and accessible to other users of the Web Site or Service(s). As the user of the Web Site and/or Service(s), you are hereby acknowledging that the community oriented functionality of the Web Site and Service(s) is inherently intended to provide users with the opportunity to share and provide information that you voluntarily provide and desire to make public and allow any other user of the Web Site and/or Service(s) access to that information. You further acknowledge that certain community features may allow users to contact and otherwise communicate with you directly. The Company does not make any representations or guarantees of confidentiality or privacy and accepts no responsibility for User Content and other information provided by users of the Web Site and Service(s). The Company is not responsible for monitoring or policing this exchange of information and it is your responsibility to understand the nature of such communication mediums and use your own judgment and consideration as to what information you provide, exchange and otherwise make available. You are using the Web Site and/or Service(s) with the express knowledge that you are sharing information with known and unknown people and you assume all risks, consequences, liability and responsibility inherent with that exchange of information. In addition, the Company does not control the User Content posted via the Web Site or Service(s) and, as such, does not guarantee the accuracy, integrity or quality of such User Content. You understand that by using the Web Site and/or Service(s), you may be exposed to User Content that is offensive, indecent or objectionable. Under no circumstances will the Company be liable in any way for any User Content, including, but not limited to, for any errors or omissions in any User Content, or for any loss or damage of any kind incurred as a result of the use of any User Content posted, emailed, transmitted or otherwise made available via the Web Site and/or Service(s).

The Company expressly states and you hereby acknowledge and understand that the Company is not accepting any responsibility for monitoring or policing the exchange of User Content and other information included or otherwise made available through the Web Site or Service(s) and that the Company does not accept any liability or responsibility express or implied involved with or resulting from the use of the Web Site and Service(s). However, as the provider of the Web Site and Service(s), the Company reserves the right to monitor, view, store, forward and use any and all information and content provided by you through the use of the service. Furthermore, the Company may use any and all User Content and other information made available or otherwise provided by you through the use of the Web Site and Service(s) in various ways, including but not limited to, understand user behavior and patterns, for internal discussion, improving the quality, functionality and user experience of the Web Site and Service(s) and any related materials. Furthermore, you acknowledge and agree to comply with and strictly adhere to the member conduct detailed in the Member Conduct section of this agreement.

You are solely responsible for User Content that you provide on the Web Site or Service(s). However, you grant the Company the following world-wide, perpetual, irrevocable, sub-licensable, assignable, royalty-free and non-exclusive license(s), as applicable: (a) with respect to User Content you submit or make available for inclusion in summary form on publicly accessible areas, the license to use, distribute, reproduce, modify, adapt, publicly perform and publicly display such User Content on the Web Site and/or Service(s) solely for the purposes of providing and promoting the publicly accessible areas to which such User Content was submitted or made available; and (b) with respect to User Content other than photos, graphics, audio or video you submit or make available for inclusion on publicly accessible areas of the Web Site and/or Service(s), the license to use, distribute, reproduce, modify, adapt, publish, translate, publicly perform and publicly display such User Content (in whole or in part) and to incorporate such User Content into other works in any format or medium now known or later developed.

"Publicly accessible" areas of the Web Site and/or Service(s) are those areas of the Company network of properties that are intended by the Company to be available to the general public. By way of example, publicly accessible areas of the Web Site and/or Service(s) would include message boards and portions of clubs and groups that are open to both members and visitors. 

7.) DMCA Notices

If you are a holder (or agent thereof) of copyright or other proprietary rights and you believe that any User Content infringes upon such proprietary rights, you may submit a notice to the Company pursuant to the Digital Millennium Copyright Act by submitting the following information in writing to our copyright agent: (i) the signature (physical or electronic) of the holder (or agent thereof) of a proprietary right that is allegedly infringed; (ii) identification of the work or multiple works alleged to have been infringed; (iii) identification of the material that allegedly infringes or is the subject of infringing activity that is requested to be removed or otherwise modified with information reasonably sufficient to permit the Company to locate the material; (iv) contact information for the Company to contact you, including an address, telephone number and/or e-mail address; (v) your statement that you have a good faith belief that use of the material in question is not authorized by the holder of the proprietary rights, its agent or otherwise under law; and (vi) your statement that the information in the notice to the Company is accurate and, under penalty of perjury, that you are authorized to act on behalf of the allegedly infringed work. You acknowledge that your failure to comply fully with these requirements may result in an invalid notice under the Digital Millennium Copyright Act.

For All inquiries regarding this Site, including DMCA notices, Copyright Infringement and Legal matters follow the link titled Contact Us at the bottom of this page and choose the pull down that most closely matches the nature of your inquiry and your inquiry will be routed to the appropriate department for resolution.

8.) User Conduct

The Company may at any time make modifications, changes and alterations to the data of our Web Site and/or Service(s). Such modifications may include messages boards, email Service(s), chat rooms, and other such Service(s). You agree to not use the Web Site and/or Service(s) to:

a. submit material that is protected by copyright, patent or any other proprietary rights unless you are the owner of such material or have a license or permission from the owner of any such proprietary rights to provide the material;

b. upload, post, email, transmit or otherwise make available any User Content that is unlawful, harmful, threatening, abusive, harassing, tortuous, defamatory, vulgar, obscene, libelous, invasive of another"s privacy, hateful, or racially, ethnically or otherwise objectionable;

c. harm minors in any way;

d. impersonate any person or entity, including, but not limited to, a the Company official, forum leader, guide or host, or falsely state or otherwise misrepresent your affiliation with a person or entity;

e. forge headers or otherwise manipulate identifiers in order to disguise the origin of any User Content transmitted through the Web Site and/or Service(s);

f. upload, post, email, transmit or otherwise make available any User Content that you do not have a right to make available under any law or under contractual or fiduciary relationships (such as inside information, proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements);

g. upload, post, email, transmit or otherwise make available any User Content that infringes any patent, trademark, trade secret, copyright or other proprietary rights ("Rights") of any party;

h. upload, post, email, transmit or otherwise make available any unsolicited or unauthorized advertising, promotional materials, "junk mail," "spam," "chain letters," "pyramid schemes," or any other form of solicitation, except in those areas (such as shopping rooms) that are designated for such purpose;

i. upload, post, email, transmit or otherwise make available any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;

j. disrupt the normal flow of dialogue, cause a screen to "scroll" faster than other users of the Web site and/or Service(s) are able to type, or otherwise act in a manner that negatively affects other users" ability to engage in real time exchanges;

k. interfere with or disrupt the Web Site and/or Service(s) or servers or networks connected to the Web Site and/or Service(s), or disobey any requirements, procedures, policies or regulations of networks connected to the Web Site and/or Service(s);

l. intentionally or unintentionally violate any applicable local, state, national or international law, including, but not limited to, regulations promulgated by the U.S. Securities and Exchange Commission, any rules of any national or other securities exchange, including, without limitation, the New York Stock Exchange, the American Stock Exchange or the NASDAQ, and any regulations having the force of law;

m. "stalk" or otherwise harass another; or

n. collect or store personal data about other users.

You acknowledge that the Company does not pre-screen User Content, but that the Company and its designees shall have the right (but not the obligation) in their sole discretion to refuse or move any User Content that is available via the Web Site and/or Service(s). Without limiting the foregoing, the Company and its designees shall have the right to remove any User Content that violates the Terms of Use or is otherwise objectionable. You agree that you must evaluate, and bear all risks associated with, the use of any User Content, including any reliance on the accuracy, completeness, or usefulness of such User Content. In this regard, you acknowledge that you may not rely on any User Content created by the Company or submitted to the Company, including without limitation information in message boards, clubs, and in all other parts of the Web Site and/or Service(s).

You acknowledge and agree that the Company may preserve User Content and may also disclose User Content if required to do so by law or in the good faith belief that such preservation or disclosure is reasonably necessary to: (a) comply with legal process; (b) enforce the Terms of Use; (c) respond to claims that any User Content violates the rights of third-parties; or (d) protect the rights, property, or personal safety of the Company, its users and the public.

You understand that the technical processing and transmission of the Web Site and/or Service(s), including your User Content, may involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.

9.) Disclaimer of Warranties

YOU AGREE AND ACKNOWLEDGE THAT YOUR USE OF THE WEB SITE AND/OR THE SERVICE(S) IS AT YOUR SOLE RISK. THE COMPANY AND ITS AFFILIATES, THIRD PARTY LICENSORS AND SERVICE PROVIDERS AND THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, AND AGENTS DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, IN CONNECTION WITH THE WEB SITE AND/OR SERVICE(S) AND YOUR USE THEREOF. THE COMPANY MAKES NO REPRESENTATIONS OR WARRANTIES REGARDING THE ACCURACY OR COMPLETENESS OF THE CONTENT ON THE WEB SITE AND/OR THE SERVICE(S) OR ON ANY SITES LINKED TO THIS SITE AND ASSUMES NO LIABILITY OR RESPONSIBILITY FOR ANY (I) ERRORS, MISTAKES, OR INACCURACIES, (II) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR USE OF THE WEB SITE AND/OR SERVICE(S), (III) ANY UNAUTHORIZED ACCESS TO OR USE OF THE COMPANY?S SECURE SERVERS OR ANY AND ALL PERSONAL OR FINANCIAL INFORMATION STORED THEREIN, (IV) ANY INTERRUPTION OR CESSATION OF YOUR USE OF THE WEB SITE AND/OR SERVICE(S), (V) ANY BUGS, VIRUSES, OR TROJAN HORSES, OR RELATED PROBLEMS THAT MAY BE ACQUIRED OR TRANSMITTED IN CONNECTION WITH THE WEB SITE AND/OR THE SERVICE(S), AND/OR (VI) ANY ERRORS OR OMISSIONS IN ANY USER CONTENT OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED, PROVIDED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE WEB SITE OR THE SERVICE(S). THE COMPANY DOES NOT REPRESENT, WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A THIRD PARTY ON THE WEB SITE, SERVICE(S), ANY LINKED WEBSITE, OR BANNER OR OTHER ADVERTISING, AND THE COMPANY WILL NOT IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS.

10.) Limitation of Liability

IN NO EVENT WILL THE COMPANY OR ITS AFFILIATES, REPRESENTATIVES, CONTRACTORS, OR THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES OR AGENTS BE LIABLE FOR ANY DAMAGES, INCLUDING, WITHOUT LIMITATION, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, WHETHER UNDER CONTRACT, TORT OR ANY OTHER THEORY OF LIABILITY, ARISING IN CONNECTION WITH (I) ANY PARTY"S USE OF THE WEB SITE AND/OR SERVICE(S) OR A LINKED SITE, (II) ANY FAILURE, ERROR, OMISSION, INTERRUPTION, DEFECT, DELAY, COMPUTER VIRUS, LINE SYSTEM FAILURE OR LOSS OF DATA, (III) ANY LOSS OF USE RELATED TO OUR WEB SITE AND/OR SERVICE(S) OR A LINKED SITE, (IV), ANY WEB SITE OPERATED BY ANY THIRD PARTY, (V) OR ANY CONTENT OF THIS WEB SITE OR ANY LINKED SITE, EVEN IF THE COMPANY IS AWARE OF THE POSSIBILITY OF SUCH DAMAGES.

YOU AGREE TO INDEMNIFY, DEFEND AND HOLD HARMLESS THE COMPANY AND THE COMPANY?S AFFILIATES, LICENSORS AND CONTRACTORS AND THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES OR AGENTS, FROM AND AGAINST ANY AND ALL THIRD PARTY CLAIMS, DEMANDS, LIABILITIES, COSTS OR EXPENSES, INCLUDING REASONABLE ATTORNEYS? FEES, ARISING FROM OR RELATED TO ANY BREACH BY YOU OF ANY OF THESE TERMS OF USE OR APPLICABLE LAW, INCLUDING THOSE REGARDING INTELLECTUAL PROPERTY.

11.) Subscriptions (If applicable)

If you are a subscriber to any paid Service in connection with the Web Site (a "Subscribed Service"), you are responsible for paying any required subscription fees. You hereby authorize the Company to charge your credit card, debit card or bank account in connection with the ongoing cost of applicable subscriptions or membership fees for a Subscribed Service. The terms and conditions relating to any Subscribed Service may vary. Unless stated otherwise, your subscription to a Subscribed Service will automatically renew for a term equal to the original term upon expiration of the then-current term, and continually thereafter, unless you terminate the Subscribed Service by phone or e-mail at least 48 hours prior to the renewal date. When you terminate a Subscribed Service, you will not receive a refund for any unused portion of the Subscribed Service. You acknowledge and agree that the authorization to charge your credit card, debit card or bank account for services shall automatically transfer to any successors or assigns that provide the Subscribed Service. You may not assign or transfer your subscription to a Subscribed Service to any other person or entity. If there is a dispute regarding a Subscribed Service or the terms and conditions related thereto and you are denied a refund or other compensation for a valid reason under these Terms of Service, and you file a claim against the Company or its affiliates, the Company or its affiliates shall be entitled to collect from you all costs (including attorney?s fees) associated with defending such a claim.

You are responsible for providing all computer hardware and software or other equipment necessary to gain access to the Subscribed Service. Access to and use of a Subscribed Service requires a combination of an identification name and a password. You must keep this identification name and password confidential and the Company shall not be liable for your failure to do so. You must notify the Company of any changes with respect to your information, including any changes in credit card, debit card or bank account information, changes in your contact information, any breaches of security, including the loss or unauthorized disclosure of any password or identification. Until you send notification of any such breach of security, you will remain liable for any unauthorized use of a Subscribed Service.

A Subscribed Service is for the private, non-commercial enjoyment of subscribers only and any other use is strictly prohibited. You agree not to copy, publish, or in any way make available publicly any material from a Subscribed Service without the express written consent of the Company. The Company may limit your access to a certain number of physical locations or equipment or simultaneous logins.

12.) Guidelines for Children

It is our policy to comply with the Children"s Online Privacy Protection Act of 1998 and all other applicable laws. By accessing the Web Site and/or Service(s), you affirm that you are more than 18 years old, are an emancipated minor, or have the consent of your parents or legal guardian and, therefore, are fully capable and competent to abide by and enter into the agreements and obligations set forth in these Terms of Services. Otherwise, you further affirm that you are at least 13 years old as the Web Site and/or Service(s) are not intended for children under 13 years old. If you do not comply with this age restriction, please do not use the Web Site and/or Service(s).

13.) Termination of Use

If you subscribe to a Subscribed Service, you are entitled to cancel this agreement after your subscription term with the Company is complete. Upon completion of the subscription term of your agreement, you may terminate your subscription with the Company as set forth in any such agreement or as further noted on the Web Site.

You agree that we may, in our sole discretion, terminate or suspend your access to all or any part of the Web Site and/or Service(s) with or without notice and for any reason. Any suspected fraudulent, abusive or illegal activity may constitute grounds for terminating your relationship and may be referred to appropriate law enforcement authorities.

14.)Use of Your Data
Life"s Thread uses your Personal Data to provide you with a customized Web experience and to provide services to you. Such services include calculating your Life"s Thread Board and Charts, Graphs, etc., processing your answers to quizzes to provide you with tailored information regarding your health, and sending electronic newsletters and promotional e-mails to you if you have requested to receive such communications from us (as described below). We also use Personal Data to notify you about updates to our services and to respond to your requests.

We may create Anonymous Data records from Personal Data by excluding information (such as your name) that make the data personally identifiable to you. We use this Anonymous Data to perform statistical analyses of users" aggregate behavior so that we may enhance the content of our services and improve site navigation. Life"s Thread reserves the right to use and disclose Anonymous Data to third parties in its discretion.

If you elect to receive communications from us (as described below), we will periodically send you free newsletters and e-mails that directly promote the use of our site(s) or the purchase of our products or services and may contain advertisements for third parties. As a benefit of becoming a member, you may receive promotional e-mail from Life"s Thread from time to time. If you would like to cease receiving these communications from us, you may unsubscribe by visiting those Web pages.

Disclosure of Your Personal Data
Except as otherwise stated in this policy, we do not sell, trade, or rent the Personal Data collected from our services to third parties. However, we will share your Personal Data with third parties to charge your credit card (if authorized by you), fill your order, and deliver promotional e-mails. These third parties are required not to use your Personal Data other than to provide the services requested by Life"s Thread. You expressly consent to the sharing of your Personal Data with our contractors and third-party service providers for the sole purpose of providing services to you.

If you send a testimonial or comment to us, we may post it on our site or use it in advertising materials. We will attribute your testimonial to you by posting your first and last initial or your first name and last initial next to your testimonial on our site or advertising materials, if provided.

Regardless of any choices you make regarding your Personal Data (as described below), Life"s Thread may disclose Personal Data if it believes in good faith that such disclosure is necessary to (a) comply with relevant laws or to respond to subpoenas or warrants served on Life"s Thread; or (b) protect or defend the rights or property of Life"s Thread or users of Life"s Thread services.

Life"s Thread is a company with either subsidiaries, joint ventures, or other companies under a common control (collectively, "affiliates"). These affiliates include, but are not limited to pharmacies, physicians, health industry researchers and their related institutions. We may share some or all of your Personal Data with these affiliates, in which case we will require our affiliates to honor this Privacy Statement. If another company acquires our company or our assets, that company will possess the Personal Data collected by it and us and will assume the rights and obligations regarding your Personal Data as described in this Privacy Statement.

If you provide Life"s Thread with your mailing address, we may share your name and mailing address with our affiliates or other third-party businesses that offer goods or services that we believe may be of interest to our customers. Many customers appreciate the offerings they receive from such third parties; however, we allow you to opt out of having your Personal Data shared with affiliated or unaffiliated third parties for their direct marketing purposes. To submit such an opt-out request, please go to the Wellness Board or email to optout@lifesthread.com This e-mail address is being protected from spambots, you need JavaScript enabled to view it . Be sure to include your full name and address in your opt-out request, in order to allow us to process your request.

Control of Your Personal Data

Your Choices Regarding Your Personal Data
We offer you choices regarding the collection, use, and sharing of your Personal Data. You may proactively make such choices by visiting the Wellness Board.

When you become a member of Life"s Thread by registering on our site, we will ask you if you want to receive future communications from us. You may indicate consent to receipt of these communications by checking the box located on the registration form. Should you decide to stop receiving further communications from us, you will have the opportunity to "opt-out" by following the unsubscribe instructions provided in the e-mail you receive, or by going to the Wellness Board. If at any time you wish to subscribe to any communications from us, you may visit the Wellness Board. Despite your indicated e-mail preferences, we may send you notices of any updates to our Terms of Use or Privacy Statement.

Accessing, Reviewing, and Changing Your Personal Data
You may change any of your contact information in your account online by visiting the Wellness Board. Note that we may retain changed or deleted information in our archives.

Security of Your Personal Data
Life"s Thread is committed to protecting the security of your Personal Data. We use a variety of industry-standard security technologies and procedures to help protect your Personal Data from unauthorized access, use, or disclosure.

On most of our sites, Life"s Thread enables the use of Secure Sockets Layer (SSL) technology and Verisign Site ID, the industry leaders in providing secure communication over the Internet. SSL can be engaged by choosing to switch to SSL during any interaction in which you enter Personal Data. We also offer industry-standard secured-server transactions that encrypt your Personal Data when collecting your credit card information for online purchases. To verify that you have a secure server connection, look for the locked padlock symbol at the bottom of your browser window or the HTMLS-code in the site connection-identifier.

Life"s Thread has implemented other industry-standard electronic means of protecting your Personal Data. We store Personal Data behind a computer firewall, a barrier designed to prevent outsiders from accessing our servers. We also require you to enter a password to access your account information. In addition, Life"s Thread protects your Personal Data from unauthorized physical access by storing your Personal Data in a controlled facility. Except as provided elsewhere in this Privacy Statement, Life"s Thread limits access to Personal Data in electronic databases to those persons (including employees and contractors) in Life"s Thread"s organization who have a business need for such access.

Even though Life"s Thread has taken significant steps to ensure that your Personal Data is not intercepted, accessed, used, or disclosed by unauthorized persons, you should know that Life"s Thread cannot eliminate security risks associated with Personal Data.

Questions Regarding This Privacy Statement

Contact Information Life"s Thread welcomes your comments or questions regarding this Privacy Statement. Please e-mail us at info@lifesthread.com This e-mail address is being protected from spambots, you need JavaScript enabled to view it .  

15.) Termination of Web Site and/or Service(s)

Life"s Thread reserves the right to terminate the Web Site and/or Service(s) in their entirety at any time and for any reason. ' %>

<%= text_area_tag 'terms' , myTerms ,  :rows=> 10 , :cols => 80, :readonly => true %>
</p>

   <p>
    <%= f.label "I Agree" %><!-- was a br -->
    <%= check_box_tag :terms_agreed %>
  </p>

</fieldset>
