



<!-- home/index.rhtml -->


<% if logged_in? %>

  <% content_for :header do%>
    <strong>Welcome to your Wellness Board, <%=h current_user.first_name -%></strong> 
  <% end -%>
  <%= render :partial => "dashboard" %>

<% else %>

  <% content_for :header do%>
    <h1>Welcome</h1>
    <p><strong>Please log in.</strong></p>
  <% end %>

  <p>
  <%= render :partial => "sessions/contents" %><br />
    <%= link_to 'Sign Up', signup_path %>
  </p>


<% end %>


