<div class="menu">

<script type="text/javascript">$(document).ready(function()
{
	$('#admin_list').clickMenu();
});
</script>


<ul id="admin_list">
<li>ADMIN: </li>
<li><%= link_to 'Users', admin_users_path  %></li>
<li><%= link_to 'Support tickets', admin_supports_path %></li> 
</ul>

</div>

