<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Welcome to your Wellness Board <%= h current_user.first_name -%></title>
  <%= dhtml_calendar_includes("blue") %>
  <%# = stylesheet_link_tag 'scaffold' %>


  <script language="javascript" type="text/javascript" src="/javascripts/jquery.js"></script>
  <script language="javascript" type="text/javascript" src="/javascripts/jquery.flot.pack.js"></script>
  <script language="javascript" type="text/javascript" src="/javascripts/flot/excanvas.pack.js"></script>


 

  <%#  eventually put this into a nice css file!! %>
  <style type="text/css">
    
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  //text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
  
  
    html { 
      background : #FFF; }
    
    body { 
      border : 1px solid gray;
      background :  #DCF1F4  ;  
      width : 950px;
      margin : 0 auto  0 auto;
      padding : 3px 3px 3px 3px; 
      font-family : sans-serif, Verdana;}
      
    .charts .left { float : left ; }
    
    .charts { overflow : auto; width :100% } 
    
    #legend  { float : right  ; }
    .last { clear : both ; }
    
    .center { margin : 0 auto 0 auto ; }
    
    .last { clear : both ; }
      
    .layout { clear : both ; overflow : auto; }
    
    .footer { clear : both  ; margin : 1em auto 1em auto; position : fixed; bottom : 1em; } 
        
    .masthead { background : #CFC ; 
      overflow : auto;
      }
 
    .masthead .giving { 
      font-variant: small-caps;
      float :left ; 
      font-size : 1em; }
      
    .masthead .topNavigation {  
      float : right;
      font-size : 0.9em ;
      margin-top : 0em;
      }  
      
     
    .menu { 
      background-color : silver ;
      background-image : url(/images/menubg.jpg);
      background-repeat : repeat-x;  
      clear : both ;
      font-size : 0.9em;
      margin : 0 0 0 0 ; }
      
    .menu li { 
      display : inline ;  
      border-right : 1px solid #000; 
      padding : 0 1em 0 1em; }
      
    .menu li.last { border-right : 0; }
      
    .masthead .welcome { 
      clear : left ;  
      float: left ; }
    
    .content { clear : both ;}
    
    h6, h5, h4, h3, h2, h1 { margin : 0; font-variant: small-caps; }
    
    /*.dataEntry {
      background: url(/images/data_entry.gif) ;
      background-repeat:  no-repeat; 
      background-attachment: relative;
      background-position: center top;
      } */
      
     div.dataEntry { margin-left : 2em;
      margin-top : 1em; }
     
     div.viewCharts { margin-top : 1em; }
     
     img.dataEntry {  float : right; 
      position : relative ;
      margin : 0.5em 16em 0 0;
      size : 70px; }
       
     img.viewCharts { float : right; 
      position : relative ;
      margin : 0.0em 10em 0 0;
      size : 70px; }
           
    .left {  
      float : left; width : 45%; margin-bottom : 3em;}
      
    .right {
      float : right; width : 45%; margin-bottom : 3em; }
     
    ul { margin-top : 1em; }
    
    .noStyle li { 
      margin-left : 0 ;
      padding-left : 0 ;
      list-style-image: url(/images/phils_arrow.png) ;
      font-size : 1.25em;
      }
    
    li.label { font-style : italic ;  font-weight :  bold; }
    img { border : none ;
      list-style : none; 
      list-style-image : none;  }
          
    a {
      color : #309;
      font-weight:bold;
      text-decoration:none;
      }
    
    a:hover {
      color:   #636  ;
      text-decoration:underline;
      }
      
    td { background : #fff ;
     font-size : 1em;}

    th { border : 1px solid #FFF ; 
    font-size : 0.9em; }
    
    td.Illness { background : gray ; }
    
    td.Medication { background : tan ; }
    
    td.Hospital { background : red ; }
    
    .bottomBorder { border-bottom : 1px solid #000 ; }
    
    
  </style>
    
</head>
