<body>

<div class="content">
<%= '<p style="color: green" class="notice">' + flash[:notice] + ' </p>' unless flash[:notice].nil?  -%>

<div class="layout signup"><%= yield :layout %></div>
</div>

<div id="footer"><%= yield :footer %>
</div>
</body>
</html>
