<table><tr><th>
Your Wellness Board and Lifetime Membership are provided <span style="color: red; text-decoration: none;">FREE</span style="color: red; text-decoration: none;"> thanks to the <%= @sponsor.name %>
</th><th>
<%= link_to "Click for more details", sponsor_path(@sponsor) %>
</th></tr></table>
