<div class="sponsor">
<table><tr><th>
Your Wellness Board is provided <strong>FREE</strong> thanks to the Lifetime Membership <strong>sponsored</strong> by the great staff at <strong><%= @sponsor.name %>
</th><th>
<%= link_to "Click for more details", sponsor_path(@sponsor) %>
</th></tr></table>
</div>
